*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

p{
    font-size: 30px;
}

h1{
    font-size: 200px;
}
.main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.right{
 
    text-align: right;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 30px;
}

.category{
    display: flex;
    gap: 20px;
    align-items: center;

}

.text{
}

.number__box{
    position: relative;
    width: 80px;
    height: 80px;
    border: solid black;
}

.counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.logo{
    width: 200px;
}

.mainCounter{
    font-size: 150px;
    font-weight: 900;
    color: #ED227C;
}

.short__name{
    color: #ED227C;
    font-weight: 700;
}